html, body{
    background-image:url(../img/bg.jpg);
    height: 100%;
}

.main{
    margin:auto;
    width: 80%;
    height: 100%;
    position: relative;
    padding:10%;

}

.detail{
    margin: auto;
    width: 50%;
    height: 100%;
    position: relative;
    border: none ;
    padding:0.5%;
}

.login-form{
    width: 25%;
    height:60%;
    position: relative;
    top: 20%;
    left: 35%;
    margin-top:5%;
}

.form-main{
    transition: all 0.8s ease;
    padding:20px;
    opacity:0.4;
}
.form-main:hover{
    transition: all 0.8s ease;
    padding:20px;
    opacity:0.9;
    -webkit-box-shadow: 3px -2px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px -2px 13px 0px rgba(0,0,0,0.75);
    box-shadow: 3px -2px 13px 0px rgba(0,0,0,0.75);
}
.register-form{
     width: 35%;
     height:70%;
     position: relative;
     top: 10%;
     left: 30%;
     margin-top:2%;
}

.error{
    color:red;
}