<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-2.2.4.min.js"></script>
    <script src="/public/js/bootstrap-3.3.6.min.js"></script>

    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url "App.Index"}}">Home</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          {{if .user}}
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{.user.Username}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url "Persons.Logout"}}">Logout</a></li>
          </ul>
          {{else}}
          <li><a href="{{url "App.Login"}}">Sign In</a></li>
          <li><a href="{{url "App.Register"}}">Sign Up</a></li>
          {{end}}
        </li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <div style="margin-bottom:50px;"></div>


