{{set . "title" "Home"}}
{{template "header.html" .}}

  <div class="container">
    <div class="row">
      <h1 align="center"><a href="{{url "Persons.List"}}" style="color:#fff">
        <button class="btn btn-info" style="border:none;border-radius:5px;">Go To APP  </button></a></h1>
      <p></p>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
