{{set . "title" "Login User"}}
{{template "header.html" . }}

<div class="container">
    <div class="login-form">
        <div align="center" ><img src="../../../public/img/logo.png" height="50px" width="50px"></div>
        <div align="center" ><h1 class="h3">Welcome, Please Login</h1></div>
        <form action="{{url "App.Auth"}}" method="POST" class="form-main">

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember" value="true"> Remember me
            </label>
            </div>
        <div align="center"> {{template "flash.html" .}}</div>
        <div align="center" class="form-group"><input class="btn btn-primary btn-sm form-control" type="submit" value="Login" ></div>
        </form>
        <div class="form-main">
        <strong>Don't have account?</strong><a href="{{url "App.Register"}}">Register here</a>
        </div>
    </div>
</div>
<script>
    $("body").on("contextmenu", "img", function(e) {
        return false;
    });
</script>
{{template "footer.html" . }}