{{set . "title" "Register User"}}
{{template "header.html" . }}

<div class="container">
    <div class="register-form">
        <div align="center" ><img src="../../../public/img/logo.png" height="50px" width="50px"></div>
        <div align="center" ><h1 class="h3">Register Form</h1></div>
        <form action="{{url "App.AddUser"}}" method="POST" class="form-main" style="padding:none;">
            {{with $field := field "user.Nama" .}}
            <div class="form-group-sm {{$field.ErrorClass}}">
                <label for="nama">Nama</label>
                <input type="text" class="form-control" name="{{$field.Name}}" id="nama" value="{{$field.Flash}}" placeholder="Nama Lengkap">
                <span class="error">{{$field.Error}}</span>
            </div>
            {{end}}
            {{with $field := field "user.Email" .}}
            <div class="form-group-sm {{$field.ErrorClass}}">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="{{$field.Name}}" id="email" value="{{$field.Flash}}" placeholder="Email Anda">
                <span class="error">{{$field.Error}}</span>
            </div>
            {{end}}
            {{with $field := field "user.Username" .}}
            <div class="form-group-sm {{$field.ErrorClass}}">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="{{$field.Name}}" id="username" value="{{$field.Flash}}" placeholder="Username">
                <span class="error">{{$field.Error}}</span>
            </div>
            {{end}}
            {{with $field := field "user.Password" .}}
            <div class="form-group-sm {{$field.ErrorClass}}">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="{{$field.Name}}" id="password" placeholder="Password">
                <span class="error">{{$field.Error}}</span>
            </div>
            {{end}}
            {{with $field := field "verifyPassword" .}}
            <div class="form-group-sm {{$field.ErrorClass}}">
                <label for="verifyPassword">Verify Password</label>
                <input type="password" class="form-control" name="{{$field.Name}}" id="verifyPassword"  placeholder="Verify  Password">
                <span class="error">{{$field.Error}}</span>
            </div>
            {{end}}
           <div align="center" class="form-group" style="margin-top:10px;">
               <input type="submit" value="Register" class="btn btn-primary btn-sm form-control">
           </div>

        </form>
        <div align="center" class="form-main">
            <h4 class="h4">Register With Social Media</h4>
            <hr>
            <a href="{{.authUrl}}"><img src="../../../public/img/facebook.png" height="30px" width="30px"></a>
            <a href="#"><img src="../../../public/img/googleplus.png" height="30px" width="30px"></a>
            <a href="#"><img src="../../../public/img/Twitter-icon.png" height="30px" width="30px"></a>
        </div>
    </div>
</div>
<script>
    $("body").on("contextmenu", "img", function(e) {
        return false;
    });
</script>
{{template "footer.html" . }}