{{set . "title" "Ubah Data"}}
{{template "header.html" .}}


<div class="container">
    <div class="main" height="100%">
        {{if .person}}
        <form action="{{url "Persons.Ubah"}}" method="Post">
            <input type="hidden" name="id" value="{{.IdPerson}}">
            <div class="form-group">
                <label for="nama">Nama</label>
                <input class="form-control" type="text" name="nama" id="nama" placeholder="Nama" value="{{.person.Nama}}">
            </div>
            <div class="form-group">
                <label for="alamat">Alamat</label>
                <textarea class="form-control" name="alamat" id="alamat" >{{.person.Alamat}}</textarea>
            </div>
            <div class="form-group">
                <label for="tempatlahir">Tempat Lahir</label>
                <input class="form-control" type="text" name="tempatlahir" id="tempatlahir" value="{{.person.TempatLahir}}">
            </div>
            <div class="form-group">
                <label for="tanggallahir">Tanggal Lahir</label>
                <input class="form-control" type="date" name="tanggallahir" id="tanggallahir" value="{{.person.TanggalLahir}}">
            </div>
            <div class="form-group">
                <label for="pekerjaan">Pekerjaan</label>
                <input class="form-control" type="text" name="pekerjaan" id="pekerjaan" value="{{.person.Pekerjaan}}" >
            </div>
            <div align="right">
            <input type="submit" value="Simpan" class="btn btn-primary">
            <a href="{{url "Persons.List"}}" style="text-decoration: none;color:#fff">
                <button type="button" class="btn btn-danger">Batal</button>
            </a>
            </div>
        </form>
        {{end}}
        </div>
</div>

{{template "footer.html" .}}
