{{set . "title" "Data Masyarakat"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <h1>Search Person</h1>

    <p>
      <input type="text" id="search" size="30">
      <input type="submit" id="submit" value="Find Hotels">

      <br>

      Maximum results:
      <select id="size">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </p>

    <div id="result">
    </div>

    <script type="text/javascript" charset="utf-8">
  $('#search').val(sessvars.search)
  if(sessvars.page == undefined) {
      sessvars.page = 1
  }
  if(sessvars.size == undefined) {
      sessvars.size = 10
  }
  $('#size option[value='+sessvars.size+']').attr('selected', 'true')

  // Search function
  var search = function() {
      sessvars.search = $('#search').val()
      sessvars.size = $('#size').val()
      $.get("/persons/list", {
        "search": sessvars.search,
        "size": sessvars.size,
        "page": sessvars.page
      }, function(data) {
          $('#result').html(data)
          $('#content').css('visibility', 'visible')
      })
  }

  // Events handler
  $('#submit').click(function() {
      sessvars.page = 1
      search()
  })
  $('#search').keyup(function() {
      sessvars.page = 1
      search()
  })
  $('#nextPage').live('click', function(e) {
      sessvars.page = $(this).attr('href')
      e.preventDefault()
      search()
  })

  if(sessvars.search != undefined) {
      $('#content').css('visibility', 'hidden')
      search()
  }

</script>

 </div>
  </header>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
